<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site maintenance</title>
</head>
<body>
    <h1>Site currently in maintenance</h1>
    <p>We will be right back soon.</p>
</body>
</html>