<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}

    <p> {{screamIt welcomeMessage}} </p>

    <p>{{message}}</p>

    <a href={{githubUrl}}>My Github</a>

    <!-- injecting a partial -->
    {{> footer}}
</body>

</html>